@font-face {
  font-family: Mouse memoirs;
  src: url(./assets/fonts/MouseMemoirs-Regular.ttf);
}

:root {
  /* COLORS */
  --dark-navy: rgb(38, 22, 118);
  --blue: rgb(36, 98, 255);
  --white: rgb(255, 255, 255);

  /* FONTS */
  --mouse-memoirs: Mouse memoirs;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--mouse-memoirs);
  font-size: 26px;
  letter-spacing: 0.115rem;
}

/* HEADINGS */

.heading-xl {
  font-size: 136px;
}

.heading-l {
  font-size: 88px;
}

.heading-m {
  font-size: 48px;
}

.heading-s {
  font-size: 32px;
}

/* GENERICS */
.container {
  min-height: 100vh;
  padding: 2rem 1.5rem;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.items-centered {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1216px;
    margin: 0 auto;
  }
}
