.layout {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.layoutBackground {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}
