.layout {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.bgFilled {
  background: rgb(43, 22, 119);
  background: linear-gradient(
    0deg,
    rgba(43, 22, 119, 0.8) 0%,
    rgba(21, 18, 120, 0.8) 80%,
    rgba(26, 4, 58, 0.8) 100%
  );
}

.layoutBackground {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}
